.formStyle {
  width: 90%; 
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
  align-items: center;
  margin: 80px auto; 
  padding: 30px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  background-color: #f9f9f9;
}