.header {
    background-color: #16244D;
    color: white;
    padding: 0 20px;
    margin: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Para que quede fijo arriba */
    top: 0;          /* Pegado al tope */
    left: 0;
    right: 0;
    height: 50px;    /* O el alto que quieras */
    margin: 0;       /* Sin márgenes */
    padding: 0 20px; /* Padding horizontal, ajustalo si querés */
    border: none;    /* Sin bordes */
    background-color: #16244D; /* Tu color */
    z-index: 1000;   /* Para que quede arriba de todo */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.close {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 20px;
}

.menu {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Fijo para ocupar toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 19, 0.97); /* Fondo semi-transparente */
    flex-direction: column;
    align-items: flex-end; /* Alinear el contenido a la derecha */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 10;
    }

    .menu.open {
        display: flex;
    }

.menu a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-bottom: 1px solid #2c3e50;
    width: 100%; /* Para que el enlace ocupe todo el ancho */
    text-align: center; /* Centrar texto */
    }

.menu a:hover {
    background-color: #1b2a5a;
    }